.navigation {
    margin-bottom: 50px;
    .screen-reader-text {
        text-align: center;
        margin: 10px 0;
    }
    .nav-links {
        @include clearfix;
        div {
            padding: 8px;
            border: 1px solid #CCC;
        }
        a {
            color: #868686;
        }
    }
    .nav-previous {
        float: right;
    }
    .nav-next {
        float: left;
    }
}
@media only screen and (min-width: 960px){
    .navigation {
        max-width: 600px;
    }
}