// Import css lib
@import 'reset';
@import 'mixin';
@import 'icon';
// Declare variable
$font: inconsolata,
Lucida Sans Typewriter,
Lucida Console,
monaco,
Menlo,
Bitstream Vera Sans Mono,
Consolas,
monospace;
$main-color: #5A5A5A;
//Defaut CSS
body {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #4786d6;
    &:hover {
        color: #2f69b3;
    }
}

p {
    line-height: 1.7em;
    font-size: 15px;
}

button {
    cursor: pointer;
}

//Global CSS
.container {
    padding: 0 20px;
    margin: 0 auto;
}

// Custom scrollbar
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

@media only screen and (min-width: 960px){
    // html,
    // body {
    //     overflow: hidden;
    // }
    .container {
        padding: 0 40px;
    }
    .section {
        margin-top: 60px;
        // width: 100%;
        // height: calc(100vh - 46px);
        // overflow-y: scroll;
    }
}

//Import dependeci
@import 'header';
@import 'content';
@import 'single';
@import 'navigation';
@import 'comment';